.button-group .button {
    padding: 0.75rem 1rem;
    border: 1px solid #C3CAD2;
}

.button-group .button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button-group .button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button-group .button:not(:last-child) {
    border-right: none;
}

.button-group .button-active {
    background-color: #1a90d0;
    color: #FFFFFF;
}

.button-group .button-active:hover {
    background-color: #167080;
}

.button-group .button-secondary {
    background-color: #FFFFFF;
    color: #596060;
}

.button-group .button-secondary:hover {
    background-color: #596060;
    color: #FFFFFF;
}
